* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
}
body{
  justify-content: center;
  align-items: center;
  background: #131313;
}


.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}


#navbar__logo {
  background-color: #fff800;
  background-image: linear-gradient(to top, #1f10f1 0%, #fffb00 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fffb00, #d108ec, #3309ee);
  background: linear-gradient(to right, #fffb00, #d108ec, #3309ee);
  color: #fff;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #9518fc;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}


.hero {
  background: #000000;
  background: linear-gradient(to right, #161616, #000000);
  padding: 200px 0;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}

.hero__heading {
  font-size: 100px;
  margin-bottom: 24px;
  color: #fff;
}

.hero__heading span {
  background: #ee0979; 
  background: -webkit-linear-gradient(
    to right,
    #fffb00,
    #9209ee
  ); 
  background: linear-gradient(
    to right,
    #fffb00,
    #9209ee
  ); 
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -mo-text-fill-color: transparent;
}

.hero__description {
  font-size: 60px;
  background: #da22ff; 
  background: -webkit-linear-gradient(
    to right,
    #9114ff,
    #da22ff
  );
  background: linear-gradient(
    to right,
    #8f0eff,
    #da22ff
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.highlight {
  border-bottom: 4px solid rgb(132, 0, 255);
}

@media screen and (max-width: 768px) {
  .hero__heading {
    font-size: 60px;
  }

  .hero__description {
    font-size: 40px;
  }
}

/* About Section */
.main {
  background-color: #131313;
  padding: 10rem 0;
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.main__content {
  color: #fff;
  width: 100%;
}

.main__content h1 {
  font-size: 3rem;
  background-color: #fe3b6f;
    background-image: linear-gradient(to right, #fffb00 0%, #f7673c 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.main__content h2 {
  font-size: 4rem;
  background: #ff8177; 
  background: -webkit-linear-gradient(
    to right,
    #9114ff,
    #da22ff
  ); 
  background: linear-gradient(
    to right,
    #8f0eff,
    #da22ff
  ); 
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.main__btn {
  font-size: 1.8rem;
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fffb00, #d108ec,  #3309ee);
  background: linear-gradient(to right, #fffb00, #d309ee,  #3309ee);
  padding: 20px 60px;
  border: none;
  border-radius: 4px;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main__btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.main__btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #f01212e0;
  transition: all 0.35s;
  border-radius: 4px;
}

.main__btn:hover {
  color: #fff;
}

.main__btn:hover:after {
  width: 100%;
}

.main__img--container {
  text-align: center;
}

.main__img--card {
  margin: 10px;
  height: 500px;
  width: 500px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
}

.fa-layer-group,
.fa-users {
  font-size: 14rem;
}

#card-2 {
  background: #ff512f;
  background: -webkit-linear-gradient(to right, #dd2476, #ff512f);
  background: linear-gradient(to right, #dd2476, #ff512f);
}

/* Mobile Responsive */
@media screen and (max-width: 1100px) {
  .main__container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }

  .main__img--container {
    display: flex;
    justify-content: center;
  }

  .main__img--card {
    height: 425px;
    width: 425px;
  }

  .main__content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .main__content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .main__content h2 {
    font-size: 3rem;
  }

  .main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .main__img--card {
    width: 250px;
    height: 250px;
  }

  .fa-users,
  .fa-layer-group {
    font-size: 4rem;
  }

  .main__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }
  .main__content h2 {
    font-size: 2rem;
  }

  .main__content p {
    margin-top: 2rem;
  }

  .main__btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
}


.services {
  background: #131313;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10rem 0;
}

.services h1 {
  background-color: #ff8177;
  background-image: linear-gradient(to right, #fffb00 0%, #f7673c 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 5rem;
  font-size: 2.5rem;
}

.services__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.services__card {
  margin: 10px;
  height: 425px;
  width: 300px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(to top, #000 0%, #ff0000 100%);
  transition: 0.3s ease-in;
}

.services__card:nth-child(2) {
  background: #1fa2ff; 
  background: -webkit-linear-gradient(
    to right,
    #a6ffcb,
    #12d8fa,
    #1fa2ff
  ); 
  background: linear-gradient(
    to right,
    #a6ffcb,
    #12d8fa,
    #1fa2ff
  ); 
}

.services__card:nth-child(3) {
  background-image: linear-gradient(
    -225deg,
    #151c57 0%,
    #58107a 29%,
    #ff13b0 67%,
    #ffae00 100%
  );
}

.services__card h2 {
  text-align: center;
}

.services__card p {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
}

.services__btn {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.services__card button {
  color: #fff;
  padding: 14px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #131313;
  font-size: 1rem;
}

.services__card button:hover {
  cursor: pointer;
}

.services__card:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .services__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .services__wrapper {
    grid-template-columns: 1fr;
  }
}


@media screen and (max-width: 820px) {
  .footer__links {
    padding-top: 2rem;
  }

  #footer__logo {
    margin-bottom: 2rem;
  }

  .website__rights {
    margin-bottom: 2rem;
  }

  .footer__link--wrapper {
    flex-direction: column;
  }

  .social__media--wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .footer__link--items {
    margin: 0;
    padding: 10px;
    width: 100%;
  }
}

.fabric {

  margin-left: auto;
  margin-right: auto;
}

/*formulário*/
fieldset{
 border: 0; 
  color: #ffd903;
  font-family: sans-serif;
}

.formulario{
  background-color:#131313;
  font-size: 17px;
  justify-content: center;
  color: #fff;
}

input, select, textarea, button{
  border-radius: 5px;
}

.campo{
  margin-bottom: 1em;
}

.campo label{
  margin-bottom: 0.2em;
  color: #fff;
  font-family: sans-serif;
  display: block;
}

fieldset.grupo .campo{
  float: left;
  margin-right:1em;
}

.campo input[type="text"], .campo select, .campo textarea{
  padding: 0.2em;
  border: 1px solid #fff;
  box-shadow: 3px 3px 3px rgb(100, 95, 95);
}
.campo select option{
  padding-right: 1em;
}

#check{
  display: inline;
}

.campo input:focus, .campo select:focus, .campo textarea:focus, .grupo input:focus{
  background: #833ab469
}

/* Tabela */

table{
  width: 100%;
  margin-bottom : .6em;
  align-self: center;
  text-align: center;
  color: white;
  font: 27px  'Cormorant Garamond', serif;
  border-spacing: 5px;
  margin-left: auto;
  margin-right: auto;

}

th {
  text-align:center;
  background-color: #d108ec;
}

th, td {
  padding: 15px;
}

/* Menu origem.html */

.menu_origem {
  
  overflow: hidden;
  display: block;
  color: black;
  margin: 30px auto;
  width: 1300px;
  height: 50px;
  
}

.menu_origem:li{
  margin-top: 15px;
  display: inline-block;
    
}

.menu_origem  a{
  text-decoration: none;
  color:#fff ;
  text-transform: uppercase;
  font-family: 'Cormorant Unicase', serif;
  font-weight: 500;
  font-size: 18px;
  transition: 1s;
  padding: auto;
  
}

.menu_origem  a:hover {

 color: #9518fc;
 transition: all 0.3s ease;
}

/* Menu Ordenado livros.html */

ol {
  list-style-type: decimal;
  margin: 0;
  padding: 0;
  color:#fff ;
  text-transform: uppercase;
  font-family: 'Cormorant Unicase', serif;
  font-weight: 500;
  font-size: 18px;
  transition: 1s;
  padding: auto;
  margin: 30px auto;
  width: 1300px;
  height: 50px;

}

ol a {
 color:#fff ;
  text-transform: uppercase;
  font-family: 'Cormorant Unicase', serif;
  font-weight: 500;
  font-size: 18px;
  transition: 1s;
  text-decoration-line: none;


}

ol li{
  margin-top: 15px;  
     
}

ol a:hover {

 color: #e4b724;
 transition: all 0.3s ease;
}

.services__card2 {
  margin: 10px;
  height: 425px;
  width: 300px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  transition: 0.3s ease-in;
}


.services__card2 h2 {
  text-align: center;
}

.services__card2 p {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
}

.services__card2 button {
  color: #fff;
  padding: 14px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #131313;
  font-size: 1rem;
}

.services__card2 button:hover {
  cursor: pointer;
}

.services__card2:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}

//seção das páginas dos livros
#cabecalho{
  color :#fff;
  font-weight: bold;
  font-family:  'Kumbh Sans', sans-serif;
}
#Sinopse {
background-color: #18163D;
text-align: center auto ;
}

//tooltip
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #ffd903;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.705);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  font-size: 15px;
}

/*carousel*/

.img-slider{
  position: relative;
  width: 500px;     //talvez mudar 
  height: 300px;
  margin: auto;
  background: #131313;
 

}

.img-slider .slide{
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0% 50%);
  box-align: left;
}

.img-slider .slide.active{
  clip-path: circle(150% at 0% 50%);
  transition: 1s;
  transition-property: clip-path;
}

.img-slider .slide img{
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}

.img-slider .navigation{
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50px;
  transform: translateX(-50%);
}

.img-slider .navigation .botao{
  background: rgba(110, 0, 200, 0.705);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 820px){    
  .img-slider{
    width: 600px;
    height: 375px;

  }
  .img-slider .navigation{
    bottom: 25px;
  }

  .img-slider .navigation .botao{
    width: 10px;
    height: 10px;
    margin: 8px;
  }

}

@media (max-width: 620px){    
  .img-slider{
    width: 400px;
    height: 250px;

  }

  .img-slider .navigation{
    bottom: 15px;
  }

  .img-slider .navigation .botao{
    width: 8px;
    height: 8px;
    margin: 6px;
  }

}

.img-slider .navigation .botao.active{
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.705);
}

@media (max-width: 420px){    
  .img-slider{
    width: 320px;
    height: 200px;

  }
  .img-slider .navigation{
    bottom: 10px;
  }

}

// Timer

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}


#clock h2 {
  position: relative;
  display: block;
  color: #fff;
  text-align: center;
  margin: 40px 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: 1.5em;
}

#clock #time {
  display: flex;
}

#clock #time div {
  position: relative;
  margin: 0 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
}

#clock #time div span {
  position: relative;
  display: block;
  width: 150px;
  height: 120px;
  background: #2196f3;
  color: #fff;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  z-index: 10;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

#clock #time div span:nth-child(2) {
  height: 30px;
  font-size: 0.7em;
  letter-spacing: 0.2em;
  font-weight: 500;
  z-index: 9;
  box-shadow: none;
  background: #127fd6;
  text-transform: uppercase;
}

#clock #time div:last-child span {
  background: #ff006a;
}

#clock #time div:last-child span:nth-child(2) {
  background: #ec0062;
}
